/* Navbar */
body {
  background-color: rgb(77, 162, 185);
}
.navbar-brand {
  order: 2;
  margin-right: auto;
  margin-left: 10px;
}
.navbar-toggler {
  order: 1;
}
#nav form {
  order: 3;
  padding-right: 110px;
}
.btn-close {
  order: 1;
}
.offcanvas-title {
  order: 2;
  padding-right: 160px;
}
.nav-icon {
  order: 4;
  padding-right: 20px;
}
.dropdown {
  order: 5;
  padding-right: 10px;
}
.navbar {
  background-color: rgb(219, 214, 214);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.offcanvas {
  background-color: rgb(219, 214, 214);
}
span {
  color: rgb(21, 128, 128);
}

.dropdown img {
  border-radius: 50%;
}
.nav-item a:hover {
  background-color: #65727e;
}

.nav-item a {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* lingkaran */
#lingkaran img {
  position: absolute;
  border-radius: 50%;
  left: 72%;
  bottom: 30%;
}

/* Main */
.main {
  padding-top: 6rem;
}

.main img {
  position: absolute;
  left: 60%;
  bottom: 30%;
}

.main h2 {
  position: absolute;
  right: 70%;
  bottom: 50%;
}

section {
  padding: 50px 0;
}

.main button {
  position: absolute;
  right: 80%;
  bottom: 40%;
  background-color: #004f9e;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.main button:hover {
  background-color: #65727e;
}

/* donasi */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container img {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  margin-right: 70px;
  margin-left: 40px;
}

/* PENGADUAN */
#banner img {
  position: absolute;
  bottom: 35%;
  right: 0%;
  padding-top: 2em;
}

#banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: rgb(179, 52, 52);
  margin-top: -1em;
}
@media screen and (max-width: 767px) {
  .class-elemen {
    margin-bottom: 10px;
  }
}

/* Style bell */
.btn {
  position: relative;
}

.notification {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.notification.show {
  display: block;
}
